{% extends "base_sections.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="py-4" style="margin-top: -65px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="mb-4">{{ object|yesno:"Update,Create" }} Newspaper</h1>
        
            {% if request.session.custom_alerts %}
            <div class="alert-container">
              {% for alert in request.session.custom_alerts %}
                <div class="alert alert-{{ alert.alert_type }} alert-dismissible fade show" role="alert">
                  {{ alert.message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}

          <form action="" method="post" novalidate class="form-horizontal">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit" class="btn btn-primary mt-3">
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
