{% extends "base_sections.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <section class="py-4" style="margin-top: -65px">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h1 class="mb-4">Delete Redactor?</h1>
          <p>Are you sure you want to delete this redactor? Deleting this redactor will also remove all newspapers that they are the sole publisher of. This action cannot be undone.</p>
          <form action="" method="post" class="form-inline">
            {% csrf_token %}
            <input type="submit" value="Yes, delete" class="btn btn-danger ml-2">
            <a href="{% url 'news:redactor-detail' pk=redactor.pk %}" class="btn btn-secondary ml-2">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
